.hide {
    display: none;
}

.show {
    display: block !important;
}

table th {
    background-color: #c9b057 !important;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

table thead th {
    border: 0 solid #ddd;
}



header {
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

header .btn {
    float: right;
    min-width: 45px;
    outline: none !important;
    margin-top: 10px;
    margin-left: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    padding-right: 50px;
    color: #0f5132;
}
input:read-only {
    background-color: #b2b5b9;
}

#message-alert {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.alert-success {
    padding: 1rem 135px;
    background-color: #a9e2c8;
}

.alert-danger {
    padding: 1rem 135px;
    background-color: #880d19;
    color: #ffffff;
}

.alert-danger h5 {
    margin-left: -18px;
}

.alert-danger ul {
    margin-left: -2rem;
}

#close {
    top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #d91515;
    cursor: pointer;
    right: 65px;
    position: absolute;
}

.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

label.error {
    display: list-item;
    margin-top: 5px;
    color: #842029;
}

.modal-header-create {
    background-color: #49ab2b;
    color: #fff;
}

.modal-header-update {
    background-color: #30aaeb;
    color: #fff;
}
.modal-header-deposit {
    background-color: #f49aa0;
    color: #fff;
}
.modal-header-withdraw {
    background-color: #b3e25b;
    color: #fff;
}
.modal-header-transfer {
    background-color: #6ee1f0;
    color: #fff;
}

.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
#user-image{
    width: 70px;
}
/*Start Loader*/
.loader {
    position: absolute;
    z-index: 1070;
    top: 50%;
    left: 50%;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #5ee364;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*End Loader*/


.image-popup-vertical-fit:hover {
    cursor: zoom-in;
}